<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flask-Shortlink</title>
    <meta name="description" content="A minimal Flask-Shortlink System">
    <meta name="Jakob Endler">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style type="text/css">
    .col-md-4 {
        border: 1px solid blue;
    }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <h2>URL Shortener - Overview</h2>
        </div>
        <ul class="list-group">
            {% for linkpair in linklist %}
            <li class="list-group-item">
                <a href="{{ linkpair[0] }}"> {{ linkpair[0] }} </a> --> <a href="{{ linkpair[1] }}"> {{ linkpair[1] }} </a> | <a href="{{ linkpair[2] }}"> Detailed Analytics </a></li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>